<head>
  <script src="https://unpkg.com/phosphor-icons"></script>
</head>

<div class="ed">
  <div class="ei">  
    <i class="ph-link-break"></i>
  </div>
  <div class="et">  
    <p>
      Hmm... This is awkward, it seems the page doesn't exist
    </p>
  </div>
</div>

<style lang="css">
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  
  body {
    background-color: #040c16;
    font-family: 'Josefin Sans';
    color: #cce9ea
  }
  
  .ed {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    font-size: 100pt;
  }
  
  .ei {
    text-align: center;
    vertical-align: center;
  }
  
  .et {
    text-align: center;
    vertical-align: center;
    font-size: 45px;
  }
</style> 
